
.contact-container {
    font-size: 1.3rem;
    text-align: center;
    background-color: #eaeaea;
    padding: 20px;
    color: #222;
  }
  /* Contact Form Styling */
.contact-form {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
  }
  
  input:focus, textarea:focus {
    border-color: #4f46e5; /* Indigo */
  }
  
  button[type="submit"] {
    margin-top: 10px;
  }
  